*{
    margin: 0;
    padding: 0;
    font-family: 'poppins'sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 5, 12);
    color: #000000;
}
.container {
    width: 300px;
    padding:10px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 0 30px #be1010;
}
p {
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
}
input {
    width: 100%;
    padding: 8px;
    margin: 10px;
    border:none;      
    outline: none;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 30px #000;
}
::placeholder{
    color: #000000;
    font-size: 15px;
}
button{
    width: 100%;
    padding: 7px;
    margin: 10px;
    border: none;       
    outline: none;
    background-color: #002aff;
    color: #fff;
    box-shadow: 0 0 30px #000000;
    cursor: pointer;
} 
#imgbox{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
}    
#qrcode{
    width: 100px;
    padding: 10px;
}
#imgbox.showimg{
    max-height: 300px;
    margin: 10px auto;
    border-radius: 10px;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translate(0);
    }
}